<section>
  <form action="/reset-password?access_token=<%= accessToken %>" method="post">
    <fieldset>
      <legend>Cambiar contraseña</legend>
      <div>
        <label for="password">Nueva contraseña:</label>
        <input type="text" name="password">
      </div>
      <div>
        <label for="confirmation">Confirma nueva contraseña:</label>
        <input type="password" name="confirmation">
      </div>
      <div>
        <input type="submit" value="Cambiar">
      </div>
    </fieldset>
  </form>
</section>