<section>
  <form action="/request-password-reset" method="post">
    <fieldset>
      <legend>Cambio de contraseña</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= email %>"/>
      </div>
      <div>
        <input type="submit" value="Cambiar"/>
      </div>
    </fieldset>
  </form>
</section>